doctype html
html
  head
    title Pets et Devices - Autorisation
    link(rel="stylesheet", href="style.css")
  body
    h1 Pets et Devices
    hr
    b Vous êtes bien connecté en tant que : #{user_email}.
    hr
    p 
      span L'application 
      b "#{application_name}"
      span souhaiterait avoir accès à vos données en votre nom.
    p Cela lui permettra d'avoir accès à vos données privées stockées dans les APIs Pets et Device.
    p Voilà les autorisations demandées :
    if scope
      ul
        each val in scope.split(" ")
          if SCOPE_DESCRIPTIONS[val.trim()]
            li= val.trim() + " - " + SCOPE_DESCRIPTIONS[val.trim()]

    form(name="authorize", action="/authorize", method="post")
      input(type="hidden", name="client_id", value=client_id)
      input(type="hidden", name="response_type", value=response_type)
      input(type="hidden", name="scope", value=scope)
      input(type="submit", value="Accepter")
