doctype html
html
  head
    title Pets et Devices - Login
    link(rel="stylesheet", href="style.css")
  body
    h1 Pets et Devices
    p Veuillez vous connecter.
    form(name="login", action="/login", method="post")
      input(type="hidden", name="client_id", value=client_id)
      input(type="hidden", name="response_type", value=response_type)
      input(type="hidden", name="scope", value=scope)
      div
        label(style="display: block;") Adresse e-mail
        input(type="text", name="email")
      div
        label(style="display: block;") Mot de passe
        input(type="password", name="password")
      div
        input(type="submit", value="Se connecter")
